* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./images/jazmin-quaynor-nbBLwsBeh64-unsplash2.jpg) no-repeat;
  height: auto;
  width: 100%;
  /* background-size: 100%;
  background-position: bottom; */
}

form {
  padding: 1.2rem;
}

form button,
form h5 {
  margin: 1.2rem 0;
}

html {
  /*font-size: 62.5% i onda koristiti rem dalje*/
}

/*proba*/

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.bounceInLeft {
  animation-name: bounceInLeft;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}

main {
  padding: 10px;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.chat-message-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.task-list:nth-child(1) {
  margin-top: -0.7rem;
}

.task-list {
  border: 5px solid white;
  overflow-y: auto;
  height: 500px;
  margin-top: 20px;
  background-color: darkcyan;
}
/*napisati ovo cudo da se smanji razmak na telefonu i tabletima*/
/* @media (screen-width: )  */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.news-feed {
  text-align: center;
  margin: 0 auto;
}

.bold-notifications-name {
  font-weight: bold;
}

.heading-chat-room {
  text-align: center;
  color: wheat;
}

.sign-up-image {
  display: block;
  height: 200px;
  width: 200px;
  margin: 5px auto;
  border: 3px solid black;
  cursor: pointer;
}

.inline-selected-text {
  display: -webkit-box;
}

/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.internet-error {
  height: 60px;
  background: #ff8100;
  margin-top: 0;
  font-size: 20px;
}

.internet-error p {
  font-size: 25px;
  line-height: 60px;
  color: #fff;
  margin: 0;
}
